@charset "utf-8";
/* CSS Document */

p{
	color:#FFF;
}


#LayoutDiv3 img{
	margin-bottom:10%;
}

#LayoutDiv5 volleyf img{
	display:inline;
	height:20px;
	width:100px;
}

#LayoutDiv8 img{
	float:left;
	margin-left:1%
	margin-right:1%;
	padding:1%;
	display:inline;
	width:25%;
	height:25%;
}
