@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/


html{
	background-image:url(Portfolio2/hongkong-5.jpg);
	background-repeat:no-repeat;
	background-position: 30% 50%;
	background-size:cover;
}


/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align:center;
	font-size:20px;
	font-family:Verdana, Geneva, sans-serif;
}

#nav{
	z-index:-1;
	opacity:0;
	height:0;
}

#LayoutDiv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:2%;
}

#Tennis {
	z-index:-1;
	opacity:0;
}

#HK{
	z-index:1;
	opacity:1;
}

#Soccer{
	z-index:-1;
	opacity:0;
}

#LayoutDiv3 {
	clear: both;
	float: left;
	margin-left: 0;
	margin-top:2%;
	width: 100%;
	display: block;
	border:1px solid #000;
	color:white;
	opacity:1;
}

#LayoutDiv4 h3{
	color: white;
}
#LayoutDiv4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border:1px solid #000;
	margin-top:2%;
}

#LayoutDiv4 div{
	text-align:center;
	margin-left:16%;
	margin-bottom:5%;
	border:1px solid #000;
	width:60%;
	padding:3%;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family:Tahoma, Geneva, sans-serif;
	font-stretch:ultra-expanded;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#LayoutDiv1 ul{
	list-style:none;
	display:inline;
}


#LayoutDiv1 li{
	text-decoration:none;
	font-size:16px;
	display:inline;
	padding-left:2%;
	padding-right:2%;
	border:1px solid #000;
	
}

#nav{
	z-index:1;
	opacity:1;
	height:100%;
}
#LayoutDiv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#Tennis {
	z-index:-1;
	opacity:0;
}

#HK{
	z-index:1;
	opacity:1;
}

#Soccer{
	z-index:-1;
	opacity:0;
}
#LayoutDiv3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	opacity:1;
}
#LayoutDiv4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border:1px solid #000;
	margin-top:2%;
	
}

#LayoutDiv4 div{
	text-align:center;
	margin-left:17%;
	margin-bottom:5%;
	border:1px solid #000;
	width:60%;
	padding:3%;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-stretch:expanded;
}
	







/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 93.4166%;
	max-width: 1232px;
	padding-left: 0.7916%;
	padding-right: 0.7916%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align:center;
	background-color:transparent;
	opacity:1;
}

#LayoutDiv1 h1{
	opacity:1;
	font-size:28px;
	font-family:Verdana, Geneva, sans-serif;
}

#LayoutDiv1 ul{
	list-style:none;
	display:inline;

}


#LayoutDiv1 li{
	text-decoration:none;
	font-size:18px;
	display:inline;
	padding-left:4%;
	padding-right:4%;
	border:1px solid #000;
	
}

#LayoutDiv1 li a{
	text-decoration:none;
	font-family:Verdana, Geneva, sans-serif;
	color:#000;
	
}

#nav{
	z-index:1;
	opacity:1;
	height:100%;
}

#LayoutDiv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#LayoutDiv2 img{
	display:inline;
	height:25%;
	width:25%;
	padding-left:5%;
	padding-right:3%;
}

#Tennis {
	z-index:1;
	opacity:1;
}

#HK{
	z-index:1;
	opacity:1;
}

#Soccer{
	z-index:1;
	opacity:1;
}
#LayoutDiv3 {
	clear: both;
	float: left;
	margin-left: 0%;
	margin-top:10%;
	width: 49%;
	display: block;
	border:1px solid #000;
	
	
}

#LayoutDiv3 p{
	font-size:16px;
	width:100%;
}

#LayoutDiv4 {
	clear: both;
	float: right;
	margin-right: 0%;
	width: 49%;
	display: block;
	border:1px solid #000;
	margin-top:-5%;
	margin-bottom:0%;
	
}

#LayoutDiv4 div{
	text-align:center;
	margin-left:17%;
	margin-bottom:5%;
	border:1px solid #000;
	width:60%;
	padding:3%;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	font-stretch:ultra-expanded;
}
	








}